@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		scroll-behavior: smooth;
	}
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 24 96% 53%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 24 96% 53%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 199 89% 48%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 199 89% 48%;
	}

	.nav-item {
		@apply px-4 py-1.5 rounded-full text-white/70 text-xs font-bold hover:bg-white/10 hover:text-white transition duration-300;
	}

	.hero-ring {
		@apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
      border-2 rounded-full bg-gray-400/10 dark:bg-gray-400/15
      border-orange-500/20 shadow-[0_0_100px_inset] shadow-orange-500/20
      dark:border-sky-500/20 dark:shadow-[0_0_100px_inset] dark:shadow-sky-400/20
      transition-all duration-300 ease-in-out
      hover:bg-gray-400/15 hover:border-orange-500/30 hover:shadow-orange-500/30
      dark:hover:bg-gray-400/20 dark:hover:border-sky-500/30 dark:hover:shadow-sky-400/30;
	}
}

@layer utilities {
	.container {
		@apply lg:max-w-5xl;
	}
}
